<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henmory.newchat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GetCaptchaActivity"
            android:label="@string/title_activity_get_captcha"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".Activities.GetCaptchaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.GetCaptchaActivity" />
        </activity>
        <activity
            android:name=".Activities.MessageListMainActivity"
            android:label="@string/title_activity_message_list_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.PublishActivity"
            android:label="@string/title_activity_publish"
            android:parentActivityName=".Activities.MessageListMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MessageListMainActivity" />
        </activity>
        <activity
            android:name=".Activities.CommentMessageActivity"
            android:label="@string/title_activity_comment_message"
            android:parentActivityName=".Activities.MessageListMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MessageListMainActivity" />
        </activity>
        <activity
            android:name=".Activities.SpecialActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleTask">
        </activity>
        <!--<activity android:name=".Activities.TransiteActivity"-->
            <!--android:label="transiteactivity"-->
            <!--android:parentActivityName=".Activities.LoginActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".Activities.LoginActivity" />-->
            <!--</activity>-->
    </application>

</manifest>